.dialog {
    border: 1px solid black; 
    margin: 5px   
 }
 
 .dialog-color {    
    display: inline-flex;
    width: 100%;
    background-color: grey;
 }
 
 .dialog-color > span {
    width: 15%;    
    margin: auto;
    padding-left: 5%;
 }
 
 
 .select-color {
   width: 85%;   
}
   
 .dialog-descr {
    background-color: grey;
    width: 100%;
    text-align: center;
    margin: 0;
 }
 
 .dialog-descr textarea {    
    width: 100%;        
    resize: none;    
 }

 .dialog-button {    
    text-align: center;        
 }

 .dialog-button > button { 
    margin: 5px;
 }   