.dialog {
    border: 1px solid black; 
    margin: 5px   
 }
 
 .dialog-color {    
     display: inline-flex;
 }
 
 .dialog-color > span {
     width: 10%;    
     margin: auto;
     padding: 2%;
 }
 
 .dialog-color > input {
     width: 85%;  
     padding: 0 5px;  
 }
   
 .dialog-descr {
     background-color: grey;
     width: 100%;
     text-align: center;
 }
 
 .dialog-descr textarea {    
     width: 100%;        
     resize: none;    
 }

 .dialog-button {
     
     margin: 10px auto;
 }